.about {
  width: 80%;
  margin: 0 auto;
  background-color: #F3F1F5;
  color: #333;

  &__title {
      color:#c40101f6;
      font-size: 38px;
  }

  &__inner {
    padding: 1.5em 0;
  }

  &__img img {
    height: auto;
  }

  p {
    line-height: 25px;
    font-size: 20px;
  }
}